%% -*- erlang -*-
[
    {canary, [

        {publish_interval, 10},

        {librato_url, "https://metrics-api.librato.com/v1/metrics"},
        {librato_max_retries, 3},
        {librato_request_timeout, 5000},
        {librato_connect_timeout, 3000}

    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
        ]}]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl.log"}},
        {errlog_type, error}]},

    {kernel, [
        {error_logger, {file, "log/kernel.log"}},
        {inet_default_listen_options, [{nodelay, true}]},
        {inet_default_connect_options, [{nodelay, true}]}]}
].






