%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc2"}}},
    {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.7.4"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.7.0"}}}
]}.
{eunit_compile_opts, [{src_dirs, ["test"]}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.